.attribution {
    font-size: 11px;
    text-align: center;
  }
  .attribution a {
    color: hsl(228, 49%, 67%);
  }
/* toggle switch*/
.switch {
    position: relative;
    display: inline-block;
    width: 140px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    margin-left: 40px;
    margin-right: 40px;
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: hsl(228, 49%, 67%);
    -webkit-transition: .4s;
    transition: .4s;
}
  
.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}
  
input:checked + .slider {
    background-color:hsl(228, 49%, 67%);
}
  
input:focus + .slider {
    box-shadow: 0 0 1px hsl(228, 49%, 67%);
}
  
input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}
  
  
.slider.round {
    border-radius: 34px;
}
  
.slider.round:before {
    border-radius: 50%;
}

  /*css for the page*/
body{
    margin: 60px;
    color: #5e606f;
    font-size: 20px;   
    background-color: #f7f7ff;
    background-image: url("./images/bg-top.svg"), url("./images/bg-bottom.svg");
    background-position: top right, left bottom;
    background-repeat: no-repeat;
    font-family: 'Montserrat', sans-serif;   
    display: flex;
    justify-content: center; 
    align-items: center;
  
}
.container{    
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.toggle-block{
    margin: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    color:darkgray;
    font-size: 15px;
}

.pricing-blocks{
    padding-top: 60px;
    margin: 0px 0px 28px 0px ;
    display: flex;
    justify-content: center;
    align-items: center;    
    flex-wrap: wrap;       
}

.pricing-blocks .text{
    margin:10px;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;    
}

#headers{
    font-size: 20px;
    margin:50px;   
}

.pricing-blocks .price{
    margin:10px;
    display: flex;
    justify-content: center;
    align-items: center;      
}

.price .dollar{
    font-size: 35px;    
    margin:0px;
}

.price .cost{
    font-size: 70px;  
    margin:0px;   
}

.basic-block{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 360px;
    height: 550px;    
    background-color: white;
    border-radius: 2%;    
    margin: 5px; 
    box-shadow:0px 0px 10px #d2d2e7;            
}

.basic-block:hover {
    box-shadow:1px 0px 100px #d2d2e7;  
    background-image: linear-gradient(to bottom right, hsl(236, 72%, 79%), hsl(237, 63%, 64%)) ;
    color: white;
}

.basic-block .button {
    background-image: linear-gradient(to bottom right, hsl(236, 72%, 79%), hsl(237, 63%, 64%));
    border: none;
    border-radius: 5px;
    color: white;
    padding: 12px 100px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    margin: 25px 10px;
    cursor: pointer;
}

.basic-block:hover .button{
    background-image:linear-gradient(to bottom right, hsl(234, 29%, 93%), hsl(240, 24%, 93%));
    color: black;
    padding: 10px 100px;
}
   

.basic-block .partition{
    border: 0.5px solid #efeff1;
    width:80%;
    margin:10px 0px 10px 0px;
} 

.master-block{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 360px;
    height: 550px;
    border: 15px white;
    background-color: white;
    border-radius: 2%;    
    margin: 5px;  
    box-shadow:0px 0px 10px #d2d2e7;   
}

.master-block:hover {   
    box-shadow:1px 0px 100px #d2d2e7;  
    background-image: linear-gradient(to bottom right, hsl(236, 72%, 79%), hsl(237, 63%, 64%)) ;
    color: white;
}  

.master-block .partition{
    border: 0.5px solid #efeff1;
    width:80%;
    margin:10px;
}

.master-block .button {
    background-image: linear-gradient(to bottom right, hsl(236, 72%, 79%), hsl(237, 63%, 64%));
    border: none;
    border-radius: 5px;
    color: white;
    padding: 12px 80px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    margin: 25px 10px;
    cursor: pointer;
}

.master-block:hover .button{
    background-image:linear-gradient(to bottom right, hsl(234, 29%, 93%), hsl(240, 24%, 93%));
    color: black;
    padding: 10px 100px;
}

.professional-block{
    display: flex;
    background-color: white;    
    font-size: large;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 360px;
    height: 550px;
    border: 15px white;  
    border-radius: 2%;  
    margin: 0px;
    box-shadow:0px 0px 10px #d2d2e7;
    padding: 15px 0px 15px 0px;
    
}

.professional-block:hover{    
    box-shadow:1px 0px 100px #d2d2e7;  
    background-image: linear-gradient(to bottom right, hsl(236, 72%, 79%), hsl(237, 63%, 64%)) ;
    color: white;
}

.professional-block .partition{
    border: 0.5px solid #9a9ff1;
    width:80%;
    margin:10px;
}

.professional-block .button {
    background-image: linear-gradient(to bottom right, hsl(236, 72%, 79%), hsl(237, 63%, 64%));
    border: none;
    border-radius: 5px;
    color: white;
    padding: 12px 100px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    margin: 25px 10px;
    cursor: pointer;
}

.professional-block:hover .button{
    background-image:linear-gradient(to bottom right, hsl(234, 29%, 93%), hsl(240, 24%, 93%));
    color: black;
    padding: 10px 100px;
}